$breakpoints: (
  "phone": 500px,
  "tablet": 700px,
  "tablet-large": 900px,
  "desktop": 1054px,
  "desktop-large": 1300px,
);

/* ----- COLOR VARIABLES ----- */

$colorLight1: #c8f9cd;
$colorLight2: #80ed99;
$colorLight3: #57cc99;
$colorDark1: #38a3a5;
$colorDark2: #22577a;
$colorDark: #0e0101;
$colorWhite: #edf6f9;

.theme-light {
  --bg-key1: #c7f9cc;
  --bg-key2: #80ed99;
  --bg-key3: #57cc99;
  --bg-key4: #38a3a5;
  --bg-key5: #22577a;
  --bg-key6: #daaf8b;
  --bg-whitedark: #edf6f9;
  --bg-darkwhite: #222324;
  --font-darkwhite: #00070a;
  --font-whitedark: #edf6f9;
}

.theme-dark {
  --bg-key1: #445f46;
  --bg-key2: #394b43;
  --bg-key3: #244749;
  --bg-key4: #143246;
  --bg-key5: #2e5169;
  --bg-key6: #8f6441;
  --bg-whitedark: #222324;
  --bg-darkwhite: #edf6f9;
  --font-darkwhite: #edf6f9;
  --font-whitedark: #00070a;
}

.theme-unique {
  --bg-keyA: #445f46;
  --bg-keyB: #394b43;
  --bg-keyC: #244749;
  --bg-keyD: #143246;
  --bg-keyE: #2e5169;
  --bg-keyF: #8f6441;
}

/* ----- end COLOR VARIABLES ----- */

/* ----- COLOR BG CLASS ----- */

.key_bg1 {
  background-color: var(--bg-key1);
}
.key_bg2 {
  background-color: var(--bg-key2);
}
.key_bg3 {
  background-color: var(--bg-key3);
}
.key_bg4 {
  background-color: var(--bg-key4);
}
.key_bg5 {
  background-color: var(--bg-key5);
}
.key_bg6 {
  background-color: var(--bg-key6);
}
.key_bgwd {
  background-color: var(--bg-whitedark);
}
.key_bgdw {
  background-color: var(--bg-darkwhite);
}

.key_bgA {
  background-color: var(--bg-keyA);
}
.key_bgB {
  background-color: var(--bg-keyB);
}
.key_bgC {
  background-color: var(--bg-keyC);
}
.key_bgD {
  background-color: var(--bg-keyD);
}

/* ----- end COLOR BG CLASS ----- */

/* ----- COLOR FONT CLASS ----- */

.key_ftwd {
  color: var(--font-whitedark);
}

.key_ftdw {
  color: var(--font-darkwhite);
}

/* ----- end COLOR FONT CLASS ----- */

/* ----- COLOR BORDER ----- */

.hd-switch {
  border: 2px solid var(--bg-key3);
}

.hd-navbtn {
  border-color: var(--bg-key1);
}

main aside {
  border: 2px solid var(--bg-darkwhite);
}

.ft-footer {
  border-top: 2px solid var(--bg-key3);
}

/* ----- end COLOR BORDER ----- */

/* ----- COLOR STATES ----- */

.m-btnbox:hover {
  background-color: var(--bg-key2);
}

@mixin media-max($_key) {
  @media screen and(max-width: map-get($breakpoints, $_key)) {
    & {
      @content;
    }
  }
}

body {
  @include media-max("tablet") {
    header .right:hover {
      border-right: 1px solid var(--bg-whitedark);
    }

    header .left:hover {
      border-left: 1px solid var(--bg-whitedark);
    }
  }
}

@mixin media-min($_key) {
  @media screen and(min-width: map-get($breakpoints, $_key)) {
    & {
      @content;
    }
  }
}

body {
  @include media-min("tablet") {
    .hd-navdropdown,
    .hd-dropdownContent {
      background-color: var(--bg-key3);
    }

    .hd-liHome1,
    .hd-liHome2 {
      background-color: var(--bg-key1);
    }

    .hd-liHome1:hover,
    .hd-liHome2:hover {
      border: 1px solid var(--bg-whitedark);
      background-color: $colorDark1;
    }
  }
}

body {
  @include media-min("tablet-large") {
    .hd-navdropdown {
      background-color: var(--bg-key2);
    }
  }
}

body {
  @include media-min("desktop") {
  }
}

body {
  @include media-min("desktop-large") {
  }
}

/* ----- end COLOR STATES ----- */
