{% extends 'base.html.twig' %}

{% block title %}new Formation{% endblock %}
{% block styleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/instructor_adminPages/formation_instructor.css') }}">
{% endblock %}

{% block header %}
    {% include "base/_header.html.twig" %}
{% endblock %}

{% block main %}

    <section>
        <div class="main_wrapper">
            {{ include('formation/_form.html.twig') }}
        </div>
    </section>

    <a href="{{ path('app_formation_index') }}">back to list</a>
{% endblock %}