{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}
{% block styleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/instructor_adminPages/formation_instructor.css') }}">
{% endblock %}

{% block header %}
    {% include "instructor/_header_instructor.html.twig" %}
{% endblock %}

{% block main %}

    <section>
        <div class="main_wrapper">
            {{ form_start(form) }}
                <div class="form_error">
                    {{ form_errors(form) }}
                </div>
            {{ form_end(form)}}
        </div>
    </section>

{% endblock %}